@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700,400italic,600italic,700italic,800italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,300);

body{
  background-image: url(../img/Sband-logo-2015-minna.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Merriweather";
  font-size: 16px;
  color: white;
}

h1{
  font-size: 36px;
  margin: 10px 0 20px;
}

#page-wrapper{
  max-width: 850px;
  margin: auto;
}

a,p,span, h1, h2, h3{
  color: white;
}

a{
  text-decoration: none;
}

a.active{
  color: grey !important;
}

.logo img{
  height: 150px;
  float: left;
}

.messages.status a{
  color: red;
}

.block-user{
  width: 35%;
  float: left;
  margin-left: 5%;
}

.block-commerce-cart{
  width: 35%;
  float: right;
}

.block-commerce-cart table{ display: none;}

.block-menu{
  clear: both;
  float: left;
}

.views-field-line-item-title a,
.views-field-line-item-title a.active{
  color: black !important;
}

.views-field-quantity{
  padding: 0 10px;
}

.views-field-commerce-total{
  padding-left: 10px;
  font-weight: bold;
}

.block-menu ul,
#user-login-form ul,
.view-vorur-i-verslun ul{
  margin: 0; padding: 0;
}

.block-menu{
  width: 100%;
  background-color: #0c0c0c;
  padding: 10px 10px;
}

.block-menu ul li,
#user-login-form ul li,
.view-vorur-i-verslun ul li{
  margin: 0;
  list-style: none;
  float: left;
  padding: 0 20px 0 0;
}

#user-login-form ul li a{
  font-size: 10px;
}

.block-menu ul li a{
  color: grey;
}

.block-menu ul li a.active{
  color: white !important;
}

.cart-empty-block{
  color: white;
  margin-top: 20px;
}

.front #page-title{
  display: none;
}

.field-name-field-mynd-a-sidu img{
  height: 350px;
}


.views-view-grid td{
  width:21%;
  margin: 20px 2%;
  text-align: center;
}

table{
  font-family: "Merriweather";
  width: 100%;
}

th{
  border-bottom: 3px solid black;
}

tbody{
  border: none;
}

tr, tr.odd, tr.even{
  background: none;
  border-bottom: 1px solid black;
}

td{
  padding: 5px 0;
}

#user-login-form label{
  float: left;
  color: white;
  font-size: 14px;
  padding: 7px 10px 0 0;
}

#user-login-form input[type=text],
#user-login-form input[type=password]{
  padding: 4px;
}

input[type=submit] {
  border-radius: 5px;
  border: 0;
  height:25px;
  margin-right: 20px;
  font-family: Tahoma;
  font-weight: bold;
  background: #f4f4f4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */
}

.line-item-summary .line-item-quantity{
  float: right;
  width:100%;
}

.page-cart table{
  width: 100%;
}

.commerce-product-field-field-mynd{
  float:left;
  margin-right: 20px;
}

.node-product-display,
#commerce-checkout-form-checkout{
  width: 100%;
  background-color: rgba(0,0,0,.3);
  padding: 30px;
  margin-bottom: 30px;
}

.view-vorur-i-verslun .views-row{
  width:100%;
}
